.Image{
    width: 220px;
}

*{
    box-sizing: border-box;
}
.selectsection{
    margin-bottom: 100px;
}
.cardbody{
    
}
.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 300px;
    margin: 0px;
    padding: 0px; 
}

.cards > div{
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    background-color: #f5f5f5;
}